@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zen+Antique&display=swap');
@import './icons.scss';

:root {
  --violet: #4D3DAE;
  --black: #1E1B18;
  --light-red: #ffa7a7;
  --light-gray: #D1D1D1;
  --gray: #454545;
  --dark-gray: #2B2B2B;
  
  --red: #BA1F33;
  --blue: #3943B7;
  --green: #04724D;
  --yellow: #FFC233;
  --orange: #F2542D;
  --purple: #9052B7;
  --pink: #EB7BC0;

  --white: #FFFFFF;

  --primary-font: "Urbanist", sans-serif;
  --heading-font: "Zen Antique", serif;

  --border-radius: 2px;
  
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

.ski-dark {
  --text-color: var(--white);
  --body-background: var(--dark-gray);
  --component-background: var(--black);
  --outline-color: var(--white);

  *:not(button) {
    color: var(--text-color);
  }
}

.ski-light {
  --text-color: var(--black);
  --body-background: var(--light-gray);
  --component-background: var(--dark-gray);
  --outline-color: var(--black);

  *:not(button) {
    color: var(--text-color);
  }

  .bg-black, .ski-dialog {
    --text-color: var(--white);
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

body {
  margin: 0;
}

* {
  font-family: var(--primary-font);
  letter-spacing: 0.6px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 500;
}

button {
  border-radius: var(--border-radius);
  background-color: var(--violet);
  color: var(--white);
  letter-spacing: 1.2px;
  border: none;
  height: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;

  &:focus-within {
    outline: solid 1px var(--outline-color);
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.7;
  }

  &.icon-button {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.pure-icon-button {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;

    span {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

.ski-dialog {
  margin: auto;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--component-background);

  &::backdrop {
    background: #5a5a5a7c;
  }

  .dialog-content {
    padding: 1rem;
  }
}

.ski-form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-size: 0.9rem;
    font-weight: 500;
  }

  input {
    border: 1px solid var(--gray);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    color: var(--black);

    &:focus-within {
      outline: solid 1px var(--outline-color);
    }

    &.ng-invalid.ng-touched {
      border: solid 1px var(--red);
      background-color: var(--light-red);
    }
  }
}

.ski-credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ski-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 2rem;
  height: 2rem;

  span, a {
    width: 2rem;
    height: 2rem;
  }

  a {
    border-radius: var(--border-radius);
  }

  a:focus-within {
    outline: solid 1px var(--outline-color);
  }
}


.bg-violet { background-color: var(--violet); }
.bg-red { background-color: var(--red); }
.bg-green { background-color: var(--green); }
.bg-gray { background-color: var(--gray); }
.bg-black { background-color: var(--black); }